@import url("../../../styles/colors.css");

.tvshow-card-container {
    position: relative;
    margin: 30px 0;
    border-radius: 20px;
    height: 350px;
    width: 420px;
    overflow: hidden;
}

.tvshow-card-image {
    /* margin-top: 50px; */
    position: absolute;
    height: 280px;
    width: 420px;
    bottom: 0;
    border-radius: 0 0 20px 20px;
    transition: all 2.6s;
}

.tvshow-card-container:nth-child(2n + 1) {
    background-color: var(--yellow);
    border: 0.3px solid var(--yellow);
}
.tvshow-card-container:nth-child(2n) {
    background-color: var(--blue);
    border: 0.3px solid var(--blue);
}

.tvshow-card-rating-data {
    position: absolute;
    top: 85px;
    left: 20px;
    background-color: var(--black);
    border: 2px solid var(--gold);
    border-radius: 50px;
    padding: 10px;
    display: flex;
    font-size: 1.4rem;
    font-weight: 400;
}

.tvshow-card-rating {
    margin: -3px 10px;
}

.tvshow-card-star {
    color: var(--gold);
    transform: scale(1.1);
}

.tvshow-card-title {
    top: -25px;
    left: 20px;
    position: absolute;
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 4px 4px 10px rgba(12, 11, 8, 0.89);
    /* filter: blur(3px); */
}

.tvshow-card-image:hover {
    transform: scale(1.6);
}

.tvshow-card-container:hover .tvshow-card-title {
    text-shadow: 5px 4px 14px #9e9b95;
}
