@import url("../../styles/colors.css");

.genres-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.genres-heading {
    font-size: 2.6rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--gold);
    text-align: center;
}

.genres-data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-size: 1.5rem;
}
.genre-name {
    display: flex;
    justify-content: center;
    border: 1px solid var(--gold);
    margin: 20px;
    color: var(--white);
    text-decoration: none;
    transition: all 0.5s;
    padding: 15px;
}

.genre-name:hover {
    color: var(--black);
    cursor: pointer;
    background-color: var(--gold);
    transform: translateY(-3px);
}
