:root {
    --dark-black: #000;
    --black: #1b1a17;
    --white: #fff;
    --gold: #f0a500;
    --blue: #c49713;
    --brown: #c49713;
    --yellow: #c49713;
}
/*#ffd700
background: linear-gradinet(to bottom, #ffec8b, #ffd700)
*/
