@import url("../../../styles/colors.css");

.item-cast-container {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    max-height: 480px;
    transition: all 1s;
}

.item-profile-img {
    border: 1px solid var(--gold);
    border-bottom: none;
    width: 250px;
    text-align: center;
}

.item-cast-img-container {
    margin: 10px;
    transition: all 1s;
}

.item-img-not-available {
    height: 375px;
}

.item-img-not-available p {
    text-align: center;
    margin-top: 70%;
    font-size: 1.4rem;
}

.item-cast-heading {
    margin-top: 60px;
    text-align: center;
    font-size: 2.3rem;
    color: var(--gold);
    font-weight: 400;
}
.item-cast-fiction {
    font-size: 1.3rem;
    margin-left: 30px;
}

.item-cast-overflow {
    /* display: none; */
    /* visibility: hidden; */
    height: 255px;
    width: 250px;
    margin-left: 1px;
    margin-top: -100px;
    transition: all 0.8s ease-in-out;
    padding-top: 120px;

    z-index: 3;
}

.item-cast-fiction span {
    font-weight: 400;
    color: var(--gold);
}

.item-cast-name {
    margin-top: -5px;
    padding: 20px 10px;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.2rem;
    z-index: 10;
    border: 1px solid var(--gold);
    border-top: none;
    max-width: 230px;
}

.cast-not-available {
    margin-left: 37%;
    text-align: center !important;
}

@media only screen and (min-width: 1100px) {
    .item-cast-img-container:hover .item-cast-overflow {
        display: block;
        visibility: visible;
        filter: brightness(100%);
        margin-top: -458px;
        background-color: rgb(0, 0, 0, 0.5);
        z-index: 2;
    }
}

@media only screen and (max-width: 1100px) {
    .item-cast-heading {
        font-size: 2.1rem;
    }
    .item-profile-img {
        width: 230px;
    }
    .item-cast-name {
        max-width: 210px;
    }
    .item-img-not-available {
        height: 350px;
    }
    .item-cast-container {
        margin-left: 10px;
        padding-bottom: -30px;
    }

    .item-cast-fiction {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .item-cast-name {
        font-size: 1rem;
    }
    .item-img-not-available p {
        font-size: 1.2rem;
    }

    .item-profile-img {
        width: 200px;
        height: 300px;
    }

    .item-cast-name {
        width: 170px;
        padding: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .item-cast-heading {
        margin-top: 35px;
        font-size: 1.8rem;
    }
    .item-cast-name {
        font-size: 0.9rem;
    }
    .item-img-not-available p {
        margin-top: 8.5rem;
        font-size: 1rem;
    }
}
