@import url("../../styles/colors.css");

.app-pagination-container > ul > li > button,
.app-pagination-container > ul > li > div {
    font-size: 1rem;
    color: var(--gold);
    margin: 0 15px 20px;
}

.app-pagination-container > ul > li > button:hover {
    border: 1px solid var(--gold);
}
