@import url("../../styles/colors.css");

.item-container {
    border-bottom: 1px solid var(--gold);
}

.item-detail-data-container {
    position: absolute;
    z-index: 1;
    top: 0;
    margin: 8rem 4rem;
    font-size: 1.5rem;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.89);
}

.item-rating-and-date {
    display: flex;
}

.item-detail-title {
    margin-top: 6rem;
    font-size: 3.2rem;
    font-weight: 400;
}

.item-detail-img {
    width: 100%;
    height: 44rem;
}

.item-detail-data {
    display: flex;
    font-weight: 400;
    font-size: 1.4rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.89);
}

.item-detail-rating-data {
    display: flex;
    margin: -28px 10px 10px 0px;
}
.item-detail-release-date {
    margin: -1px 10px;
}

.item-detail-star {
    transform: scale(1.3);
    margin: 25px 10px 0 0;
    color: rgb(228, 238, 44);
}

.item-detail-data-separator {
    margin-top: -6px;
}

.item-detail-release-date {
    margin-top: -6.5px;
}
.item-detail-description {
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.7;
    max-width: 105%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.89);
}

.item-type-radio {
    visibility: hidden;
}

.item-choose-detail {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 20px;
    color: var(--gold);
    border-bottom: 1px solid var(--gold);
}

.item-choose-label {
    cursor: pointer;
    margin-left: 100px;
    transition: all 0.2s;
}

.item-choose-label-first {
    margin-left: 0;
}

.item-type-radio:checked + .item-choose-label {
    color: var(--white);
}
.item-detail-data-genres-container {
    margin: -4px 12px 0 30px;
}
.item-detail-data-genres {
    background-color: var(--black);
    border: 2px solid var(--gold);
    border-radius: 50px;
    padding: 8px 8px 8px 25px;
    margin: -3px 10px;
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 400;
    width: max-content;
}

@media only screen and (max-width: 1125px) {
    .item-detail-title {
        font-size: 2.3rem;
    }

    .item-detail-description {
        font-size: 1.4rem;
    }

    .item-detail-data {
        font-size: 1.3rem;
        flex-direction: column;
    }

    .item-detail-star {
        margin-top: 21px;
    }

    .item-detail-data-genres-container {
        margin: 0 -10px 10px;
    }

    .item-detail-data-genres {
        font-size: 1.1rem;
    }

    .item-choose-label {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1080px) {
    .item-detail-title {
        font-size: 2.8rem;
    }

    .item-detail-data {
        font-size: 1.3rem;
    }

    .item-detail-star {
        transform: scale(1.2);
    }

    .item-detail-description {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 800px) {
    .item-detail-data-container {
        margin-top: 5.5rem;
    }
    .item-detail-title {
        font-size: 2.3rem;
    }

    .item-detail-data,
    .item-detail-description {
        font-size: 1.2rem;
    }

    .item-detail-star {
        margin-top: 20px;
        transform: scale(1.1);
    }

    .item-detail-data-separator,
    .item-detail-release-date {
        margin-top: -10px;
    }
    .item-detail-data-genres-container {
        display: flex;
        gap: 20px 0;
        flex-wrap: wrap;
    }
    .item-detail-data-genres {
        font-size: 1rem;
    }
    .item-choose-label {
        font-size: 1.25rem;
    }

    .item-detail-img {
        height: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .item-detail-title {
        margin-top: 10rem;
        font-size: 2.3rem;
    }

    .item-detail-data-container {
        margin-left: 30px;
    }

    .item-detail-description {
        display: none;
    }
    .item-detail-data {
        display: flex;
        flex-direction: column;
    }

    .item-choose-label {
        margin-left: 50px;
    }

    .item-choose-detail {
        margin-left: -90px;
    }
}
@media only screen and (max-width: 500px) {
    .item-detail-title {
        margin-top: 0;
        font-size: 1.5rem;
    }

    .item-detail-data-container {
        margin-left: 30px;
    }

    .item-detail-data {
        font-size: 1rem;
    }
    .item-detail-star {
        transform: scale(0.9);
        margin-top: 14px;
    }

    .item-detail-img {
        height: 300px;
    }

    .item-detail-data-genres-container {
        margin-top: -10px;
    }
    .item-detail-data-genres {
        font-size: 0.8rem;
        padding: 4px 0 4px 12px;
    }

    .item-choose-label {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 400px) {
    .item-choose-label {
        margin-left: 20px;
        font-size: 1rem;
    }
    .item-choose-detail {
        margin-left: -40px;
    }
}
