.item-detail-content-container {
    display: flex;
    background-color: var(--secondary-background);
}

.item-detail-poster-img {
    width: 22rem;
    height: 32rem;
}

.item-detail-content-data-container {
    margin: 20px 60px;
    width: 60%;
    font-size: 1.2rem;
    font-weight: 300;
}

.item-detail-language {
    text-transform: uppercase;
}

.item-detail-data-content {
    color: var(--star);
}

.item-detail-data-para {
    display: flex;
}

.item-detail-data-heading {
    width: 250px;
    font-weight: 400;
}

@media only screen and (max-width: 1125px) {
    .item-detail-poster-img {
        width: 18rem;
        height: 25rem;
    }

    .item-detail-content-data-container {
        font-size: 1.1rem;
        margin-left: 20px;
        width: 75%;
    }
}

@media only screen and (max-width: 700px) {
    .item-detail-poster-img {
        width: 14rem;
        height: 20rem;
    }

    .item-detail-data-para {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .item-detail-content-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item-detail-content-data-container {
        width: 90%;
        margin: 20px;
    }

    .item-detail-poster-img {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .item-detail-content-data-container {
        font-size: 1rem;
    }
}
