@import url(../../styles/colors.css);

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    justify-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    font-family: "Cinzel", serif;
    margin: 0 35px;
    font-size: 1.3rem;
    font-weight: lighter;
    color: #fff;
    transition: all 0.5s;
    text-decoration: none;
}

.nav-logo-image {
    width: 150px;
}

.nav-logo-mode {
    transform: scale(1.2);
}

.nav-logo-mode:hover {
    cursor: pointer;
    color: var(--gold);
}
.navbar-container {
    position: relative;
    z-index: 10;
}

.navbar-nav-link {
    font-family: "Buda", sans-serif;
    border-bottom: 1px solid transparent;
}
.navbar-nav-link:hover,
.navbar-nav-link:active,
.navbar-nav-link:checked {
    border-bottom: 1px solid var(--gold);
}
