.movies-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-left: 18px;
}

.movies-pagination-container {
    display: flex;
    justify-content: center;
}
