.item-similar-heading {
    margin-top: 60px;
    text-align: center;
    font-size: 2.3rem;
    color: var(--gold);
    font-weight: 400;
}

.similar-not-available {
    text-align: center;
}

.similar-item-card {
    width: 300px;
    /* height: 500px; */
}

@media only screen and (max-width: 1100px) {
    .item-similar-heading {
        font-size: 2.1rem;
    }
}

@media only screen and (max-width: 800px) {
    .item-similar-heading {
        font-size: 1.8rem;
    }
}
