@import url("../../../styles/colors.css");
.item-video-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--dark-black);
}

.item-video {
    width: 460px;
    height: 300px;
    margin: 20px;
    border: 1px solid var(--gold);
}
