@import url("./styles/colors.css");
@import url("https://fonts.googleapis.com/css2?family=Buenard&family=Cinzel&family=Cormorant+Garamond:wght@300&display=swap");
body {
    font-family: "Cormorant Garamond", cursive;
    background-color: var(--black);
    color: var(--white);
    font-weight: 100;
}

::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: 2px;
}
::-webkit-scrollbar {
    width: 0.8px;
    height: 1px;
}
