@import url("../../../styles/colors.css");

.navbar-hamburger-input {
    display: none;
}
.active {
    border-bottom: 1px solid var(--gold);
}
.navbar-nav-link:hover {
    border-bottom: 1px solid var(--gold);
}
.navbar-container {
    position: relative;
    z-index: 10;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    justify-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--black);
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
}

.navbar-nav {
    font-family: "Cinzel", serif;
    margin: 0 35px;
    font-size: 1.3rem;
    font-weight: lighter;
    color: #fff;
    transition: all 0.5s;
    text-decoration: none;
}

.nav-logo-image {
    width: 160px;
}

.nav-logo-mode {
    transform: scale(1.2);
}

.nav-logo-mode:hover {
    cursor: pointer;
    color: var(--gold);
}

@media only screen and (max-width: 1080px) {
    .navbar-nav-link {
        margin: 0 25px;
        font-size: 15rem;
    }
}

@media only screen and (max-width: 1040px) {
    .navbar-nav {
        font-size: 1rem;
    }
    .navbar {
        justify-content: space-evenly;
    }
}
@media only screen and (max-width: 800px) {
    .navbar-nav {
        margin: 0 8px;
        font-size: 1rem;
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar-hamburger {
        margin-right: 10px;
        color: var(--gold);
        transform: scale(1.3);
        cursor: pointer;
    }

    .hamburger-container {
        text-align: center;
        margin: 30px 0px 0 0;
        border: 1px solid var(--gold);
        position: absolute;
        right: 0;
        width: 99%;
        background-color: rgb(0, 0, 0, 0.9);
    }

    .active .navbar-nav-link {
        border: none;
        color: var(--gold);
        width: 100%;
    }
    .navbar-nav-link:hover {
        border: none;
    }
    .nav-logo-image {
        width: 100px;
    }
}

@media only screen and (max-width: 500px) {
    .nav-logo-image {
        width: 80px;
    }

    .navbar-nav {
        font-size: 0.8rem;
        margin-left: 5px;
        margin-top: 2px;
    }
}

/* 
npm i bootstrap
npm i query popper.js
*/
